*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #000;
}
.wrapper .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
}
.item{
    position: relative;
    width: 15%;
    height: 100%;
    border-radius: 20px;
    background: #333;
    overflow: hidden;
    transition: transform 0.5s linear 0.5s, width 0.5s linear;
}
.item.active{
    width: 100%;
    height: 100%;
}
.wrapper-active .item{
    transition: transform 0.5s linear, width 0.5s linear 0.5s;
}
.wrapper-active .item:not(.active) {
    width: 0;
    transform: rotateX(90deg);

}
.item .inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s linear;
}
.init .item .inner{
    transform: translate3d(0, 100%, 0);
}
.item:nth-of-type(1) .inner {
    transition-delay: 0.1s;
}
.item:nth-of-type(2) .inner {
    transition-delay: 0.2s;
}
.item:nth-of-type(3) .inner {
    transition-delay: 0.3s;
}
.item:nth-of-type(4) .inner {
    transition-delay: 0.4s;
}
.item:nth-of-type(5) .inner {
    transition-delay: 0.5s;
}
.item:nth-of-type(6) .inner {
    transition-delay: 0.6s;
}
.item .bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    opacity: 0.6;
}

.item:nth-of-type(1) .bg{
    background-image: url('你的图片地址');
}
.item:nth-of-type(2) .bg{
    background-image: url('你的图片地址');
}
.item:nth-of-type(3) .bg{
    background-image: url('你的图片地址');
}
.item:nth-of-type(4) .bg{
    background-image: url('你的图片地址');
}
.item:nth-of-type(5) .bg{
    background-image: url('你的图片地址');
}
.item:nth-of-type(6) .bg{
    background-image: url('你的图片地址');
}

.item .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear 1s;
}
.active .title{
    opacity: 0;
    transition: opacity 0.2s linear;
}
.item .title h2{
    color: #fff;
    font-size: 16px;
}
.item:hover .bg{
    opacity: 1;
    transition: opacity 0.2s linear;
}
.item:hover .title h2{
    font-size: 20px;
    transition: font-size 0.2s linear;
}


.item .disc{
    position: absolute;
    top: 30px;
    opacity: 0;
    width: 100%;
    /* visibility: hidden; */
    transition: all 0.5s linear;
}

.item.active .disc{
    opacity: 1;
    /* visibility: visible; */
    transition: all 0.5s linear 0.5s;  
}
.item .disc .header{
    position: absolute;
    left: 30px;
    color: #fff;
    height: 30px;
    visibility: hidden;
    line-height: 30px;
}
.active .disc .header{
    visibility: visible;
}
.item .disc .close{
    position: absolute;
    right: 30px;
    color: #fff;
    width: 30px;
    height: 30px;
    visibility: hidden;
}
.active .disc .close{
    visibility: visible;
}
.close:before, .close:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transform: translateY(13px);
} 
.close:before{
    transform: translateY(13px) rotate(45deg) ;
}
.close:after{
    transform: translateY(13px) rotate(-45deg);
}







